* {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.image {
    width: 30px;
}

.profile-container {
    width: 300px;
}

span {
    color: red;
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid lightskyblue;
}